@charset "UTF-8"

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
 
html, body {
    background-color: black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section#tel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 311px;
    height: 627px;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

iframe#sociais {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;   
}